.blog-container {
    display: flex;
    padding: 30px;
    min-height: 100vh;
}

.div-text {
    order: 2;
    margin: 10px 70px;
}

.img-container img {
    border-radius: 20px;
    width: 122%;

}

.blog-question-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
}

.blog-question {
    width: 40%;
    padding: 20px;
    margin: 80px 15px;
    box-shadow: rgba(99, 99, 99, 0.767) 0px 2px 8px 0px;
    border-radius: 15px;
    border-top: 5px solid rgba(6, 158, 33, 0.687);
}

@media screen and (max-width:992px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .div-text h2 {
        font-size: 24px;
    }

    .div-text p {
        font-size: 14px;
        width: 90%;
    }

    .img-container img {
        width: 100%;
    }

    .div-text {
        margin: 10px 15px;
    }

    .blog-question-container {
        flex-direction: column;
        padding: 60px 0;
    }

    .blog-question {
        width: 80%;
        margin: 15px auto;
    }
}