.menu-bar a {
    text-decoration: none;
    color: gray;
    font-weight: 700;
    margin: 10px;
    text-transform: uppercase;
}

.menu-bar a:hover {
    color: orangered;
}

.sign-btn {
    background: #673AB7;
    padding: 10px 15px;
    border-radius: 25px;
    color: aliceblue;
}

.sign-btn:hover {
    background-color: #4700c2;
    transition: 0.3s ease-in-out;
}